autom4te.cache/
aclocal.m4
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
Makefile
Makefile.in
stamp-h1

src/guessnum
src/.deps/
src/*.o

po/*.gmo
po/*.mo
po/*.pot
po/POTFILES
po/stamp-po
po/remove-potcdate.sed

*.swp
*~
*.bak
