/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/stamp-h1
Makefile
Makefile.in
.deps/
.dirstamp

/m4/

*.o
*.lo
*.la
.libs/

src/guessnum

po/*.gmo
po/POTFILES
po/Makefile.in.in
po/stamp-po
po/*.mo
po/guessnum.pot

doxygen-doc/
Doxyfile

*.1

*~
*.swp
*.swo

*.tar.gz
*.tar.bz2
*.tar.xz

ABOUT-NLS
Doxyfile.in
Makefile.am
config.rpath
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
